.messageItem {
    border: solid 5px transparent;
    border-radius: 1em;
    position: relative;
    box-sizing: border-box;
    color: #FFF;
    background: #222222;
    background-clip: padding-box;
    border: solid 5px transparent;
    border-radius: 1em;
    padding: 20px;
}

.messageItem::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -5px;
    /* !importanté */
    border-radius: inherit;
    /* !importanté */
    background: linear-gradient(to right, #11998e, #38ef7d);
}

.name {
    margin: 0 0 20px 0;
}