.adminMessage {
    height: 10vh;
    padding: 2vh;
    border: solid 5px transparent;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
    box-sizing: border-box;
    color: #FFF;
    background: #222222;
    background-clip: padding-box;
    border: solid 5px transparent;
    border-radius: 1em;
}

.adminMessage:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -5px;
    /* !importanté */
    border-radius: inherit;
    /* !importanté */
    background: linear-gradient(to right, #11998e, #38ef7d);
}